<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio of Jiabin Wang</title>
    <meta name="description" content="The portfolio of Jiabin Wang provides his general information including professional skills, working and traveling experience.">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Jiabin's Portfolio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle = "tab" role = "tab" href="#home">Home</a></li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle = "tab" role = "tab" href="#experience">Professional Experience</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel Around the world<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a id="china" class="nav-link" data-toggle = "tab" role = "tab" href="#travel-china">CHINA</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle = "tab" role = "tab" href="#travel-usa">USA</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="https://wjbabc2015.github.io/portfolio/index_cn.html">简体中文</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    
    <div class="tab-content" ng-app="myApp">
      <div class="tab-pane active" id="home" role ="tabpanel">
        <div class="container">
          <!-- Carousel
          ================================================== -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="first-slide" src="images/slide1.jpg" alt="First slide">
                <div class="container">
                  <div class="carousel-caption">
                    <p class="text-left text-justify">For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</p>
                    <p class="text-right">---- John 3:16</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="second-slide" src="images/slide2.jpg" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <p class="text-left text-justify">Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us.</p>
                    <p class="text-right">---- Ephesians 3:20</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="third-slide" src="images/slide3.jpg" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption">
                    <p class="text-left text-justify">But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, gentleness, and self-control. Against such things is no law.</p>
                    <p class="text-right">---- Galatians 5:22-23</p>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div><!-- /.carousel -->

          <!-- General Profile 
          ================================================== -->
          <div class="container general_profile">
            <h1>General Information</h1>
            <hr>
            <div class="row">
              <div class="col-lg-4">
                <h2 class="text-center">Education and Certification</h2>
                <hr>
                <ul class="list-group">
                  <h4>Baccalaureate:</h4>
                  <h5>Bachelor of Science in Electrical Engineering(BSEE)</h5>
                  <li>
                    <a href="http://en.csu.edu.cn/" target="_blank">Central South University</a>
                    <p class="text-right">-- Changsha Hunan, China</p>
                  </li>

                  <h4>Master's Degree:</h4>
                  <h5>Master of Science in Software Engineering(MSSE)</h5>
                  <li>
                    <a href="http://ecu.edu" target="_blank">East Carolina University</a>
                    <p class="text-right">-- Greenville North Carolina, USA</p>
                  </li>
                </ul>
                <hr>
                    <h5>Certified Tester, Foundation Level(CTFL), current</h5>
                    <a href="https://www.astqb.org/sections/list-of-certified-testers.php" target="_blank">American Software Testing Qualifications Board</a>
              </div>

              <div class="col-lg-4">
                <h2 class="text-center">Professional Skills</h2>
                <hr>
                <ul class="list-group">
                  <h4>Programming Technologies:</h4>
                  <li>
                    <p>C#, XML, Javascript, CSS, PHP, HTML5, JAVA</p>
                  </li>

                  <h4>Database:</h4>
                  <li>
                    <p>MySQL, SQLITE</p>
                  </li>

                  <h4>Framework:</h4>
                  <li>
                    <p>Bootstrap, Zend, FuelPHP, AngularJS</p>
                  </li>

                  <h4>Development tools:</h4>
                  <li>
                    <p>Visual Studio, Android Studio, MATLAB/OCTAVE, Eclipse, Sublime Text, XAMPP</p>
                  </li>
                </ul>
              </div>

              <div class="col-lg-4">
                <h2 class="text-center">Interest</h2>
                <hr>
                <ul class="list-group">
                  <li>
                    <p>
                      Machine Learning
                    </p>
                  </li>

                  <li>
                    <p>Web Application Development</p>
                  </li>

                  <li>
                    <p>Travel, Jogging, Music, Movie</p>
                  </li>
                </ul>

                <h2 class="text-center">Support Files</h2>
                <hr>
                <ul class="list-group">
                  <li>
                      <a href="file/resume-jiabin.pdf" target="_blank">My Resume</a>
                  </li>

                  <li>
                    <a href="file/Certification.pdf" target="_blank">Certification</a>
                  </li>

                  <li>
                    <a href="images/diploma.jpg" target="_blank">Diploma of my Master Degree</a>
                  </li>
                </ul>
              </div>
            </div>
            <hr class="profile_divider">

            <h1>Study Resource</h1>
            <hr>
            <div class="row">
              <ul>
                <li>
                  <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/index.htm" target="_blank">Introduction to Algorithm</a>
                </li>
              </ul>
            </div>

            <hr class="profile_divider">
          </div><!-- /.profile -->

        </div>
      </div>

      <div class="tab-pane" id="experience" role = "tabpanel" ng-controller="expCtrl">
        
        <!-- Experience 
        ================================================== -->
        <hr class="experience-divider">      
          
        <div class="container" id = "experience-list" ng-repeat="exp in exps">
          <div class="row experience" ng-if="$even">
            
            <div class="col-md-8">
              <h2 class="experience-heading">{{exp.jobTitle}}</h2>
              <hr>
              <p class="text-right">-- {{exp.company}}</p>
              <p class="text-right">{{exp.duration}}</p>
              <ul class="list-group">
                <li ng-repeat="ele in exp.discription"><p class="lead text-justify">{{ele}}</p></li>
              </ul>

              <p class="lead">Reference: </p>
              <ul>
                <li ng-repeat="link in exp.reference"><a href="{{link}}" target="_blank">{{link}}</a></li>
              </ul>
            </div>

            <div class="col-md-4">
              <div ng-repeat="image in exp.imageSrc">
                <img class="experience-image img-responsive center-block" src="{{image}}" alt="Generic placeholder image">
                <hr>
              </div>
            </div>
          </div>

          <div class="row experience" ng-if="$odd">
            
            <div class="col-md-4">
              <div ng-repeat="image in exp.imageSrc">
                <img class="experience-image img-responsive center-block" src="{{image}}" alt="Generic placeholder image">
                <hr>
              </div>
            </div>

            <div class="col-md-8">
              <h2 class="experience-heading">{{exp.jobTitle}}</h2>
              <hr>
              <p class="text-right">-- {{exp.company}}</p>
              <p class="text-right">{{exp.duration}}</p>
              <ul class="list-group">
                <li ng-repeat="ele in exp.discription"><p class="lead text-justify">{{ele}}</p></li>
              </ul>

              <p class="lead">Reference: </p>
              <ul>
                <li ng-repeat="link in exp.reference"><a href="{{link}}" target="_blank">{{link}}</a></li>
              </ul>
            </div>
          </div>

          <hr class="profile_divider">
        </div>

      </div>

      <div class="tab-pane" id="travel-china" role ="tabpanel">

        
        <!-- Travel in China 
        ================================================== -->
        <div class="container-fluid">

          <hr class="experience-divider">
          <h1 class="text-center text-primary">All the places I have been in CHINA</h1>

          <div id="chinaMap"></div>

          <hr class="experience-divider">
        </div>

        <div class="container" id="trip-detail-china" ng-controller="chinaCtrl">
          <h1 class="text-primary">The Impressive Trip in China</h1>
          <hr>

          <div class="col-sm-2 pull-right-list">
            <div class="sidebar-module">
              <h4>Province (Region)</h4>
              <ol class="list-unstyled" id="prov-list">
                <li ng-repeat="province in ctrips"><a href="#{{province.id}}">{{province.list}}</a></li>
              </ol>
            </div>
          </div>

          <div class="container col-sm-9" id="china-detail">
            
            <div class="row" id="{{province.id}}" ng-repeat="province in ctrips">
              <h2><span class="font-italic">#{{$index + 1}}: </span>{{province.name}}</h2>
              <hr>

              <div class="row" ng-if="$even">
                <div class="col-md-7">
                  <p class="text-justify"><span class="lead">Description: </span>{{province.description}}</p>
                  <p class="lead">Tourist Attractions:</p>
                  
                  <ul>
                    <li ng-repeat="row in province.rows">
                      <div ng-if="row.link != ''">
                        <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                      </div>

                      <div ng-if="row.link == ''">
                        {{row.name}}
                      </div>

                    </li>
                  </ul>
                </div>

                <div class="col-md-5">
                  <img class="trip-image img-responsive center-block" src="{{province.coverImg[0]}}" alt="Generic placeholder image">
                  <a href="{{province.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{province.coverImg[1]}}</a>
                </div>

              </div>

              <div class="row" ng-if="$odd">

                <div class="col-md-5">
                  <img class="trip-image img-responsive center-block" src="{{province.coverImg[0]}}" alt="Generic placeholder image">
                  <a href="{{province.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{province.coverImg[1]}}</a>
                </div>

                <div class="col-md-7">
                  <p class="text-justify"><span class="lead">Description: </span>{{province.description}}</p>
                  <p class="lead">Tourist Attractions:</p>
                  
                  <ul>
                    <li ng-repeat="row in province.rows">
                      <div ng-if="row.link != ''">
                        <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                      </div>

                      <div ng-if="row.link == ''">
                        {{row.name}}
                      </div>
                    </li>
                  </ul>
                </div>

              </div>

              <br><p class="pull-right"><a href="#trip-detail-china">Back to List</a></p>
              <br><hr class="profile_divider">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="travel-usa" role ="tabpanel" ng-controller="usaCtrl">
        
        <!-- Travel in USA 
        ================================================== -->
        <div class="container-fluid">
          <hr class="experience-divider">
          <h1 class="text-center text-primary">All the places I have been in USA</h1>
          <div id="usaMap"></div>
          <h4 class="text-right"><span class="text-primary">Blue Line:</span> The path of the road trip on summer, 2016</h4>
          <hr class="experience-divider">
        </div>

        <div class="container" id="trip-detail-usa">
          <h1 class="text-primary">The Impressive Trip in USA</h1>
          <hr>

          <div class="col-sm-2 pull-right-list">
            <div class="sidebar-module">
              <h4>Trip List</h4>
              <ol class="list-unstyled">
                <li><a href="#one-day-headline">One-Day-Trip</a></li>

                <li>
                  <ol class="list-unstyled" id="multip-days">
                    <li ng-repeat="udaystrip in udaystrips"><a href="#{{udaystrip.id}}">{{udaystrip.list}}</a></li>
                  </ol>
                </li>

                <li>
                  <ol class="list-unstyled" id="event">
                    <li ng-repeat="event in uevents"><a href="#{{event.id}}">{{event.list}}</a></li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>

          <div class="container col-sm-9">
            
            <h2 class="text-info">-- The One Day Trip in USA</h2><hr>
            
            <div class="row" id="one-day-headline">
              <div class="col-md-7">
                <p class="text-justify">
                  <span class="lead">Description: </span>During my time in the USA, I had several one-day trips in North, South Carolina, and Virginia. For most of them, I took the advantages of the weekend. To memorize in the future, I put them together.
                </p>

                <p><span class="lead">Content of List: </span>
                <ul id="one-day-list">
                  <li ng-repeat="udaytrip in udaytrips"><a href="#{{udaytrip.id}}">{{udaytrip.title}}</a></li>
                </ul>
                </p>
              </div>

              <div class="col-md-5">
                <img class="trip-image img-responsive center-block" src="https://s3.us-east-2.amazonaws.com/portfolio-image/one-day-usa/IMG_2549.jpg" alt="Generic placeholder image">
                <a href="https://s3.us-east-2.amazonaws.com/portfolio-image/one-day-usa/IMG_2549.jpg" target="_blank" class="text-right">Full Picture -- The Blue Ridge Parkway</a>
              </div>
            </div>

            <hr>

            <div id="one-day-detail">
              <div class="row" id="{{udaytrip.id}}" ng-repeat="udaytrip in udaytrips">

                <div class="row" ng-if="$even">
                  
                  <div class="col-md-5">
                    <img class="trip-image img-responsive center-block" src="{{udaytrip.coverImg[0]}}" alt="Generic placeholder image">
                    <a href="{{udaytrip.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{udaytrip.coverImg[1]}}</a>
                    <hr>
                  </div>

                  <div class="col-md-7">
                    <p class="lead">{{udaytrip.title}}</p>
                    <hr>
                    <p class="text-right">-- {{udaytrip.time}}</p>
                    <p class="text-left"><span class="lead">Tourist Attractions:</span></p>

                    <ul class="list-group">
                      <li ng-repeat="row in udaytrip.rows">
                        <div ng-if="row.link != ''">
                          <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                        </div>

                        <div ng-if="row.link == ''">
                          {{row.name}}
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row" ng-if="$odd">
                  <div class="col-md-7">
                    <p class="lead">{{udaytrip.title}}</p>
                    <hr>
                    <p class="text-right">-- {{udaytrip.time}}</p>
                    <p class="text-left"><span class="lead">Tourist Attractions:</span></p>

                    <ul class="list-group">
                      <li ng-repeat="row in udaytrip.rows">
                        <div ng-if="row.link != ''">
                          <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                        </div>

                        <div ng-if="row.link == ''">
                          {{row.name}}
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-5">
                    <img class="trip-image img-responsive center-block" src="{{udaytrip.coverImg[0]}}" alt="Generic placeholder image">
                    <a href="{{udaytrip.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{udaytrip.coverImg[1]}}</a>
                    <hr>
                  </div>
                </div>


                <br><p class="pull-right"><a href="#trip-detail-usa">Back to List</a></p>
                <br><hr class="profile_divider">
              </div>
            </div>

            <h2 class="text-info">-- The Multiple Days Trip in USA</h2><hr>
            <div id="multip-days-detail">
              <div class="row" id="{{udaystrip.id}}" ng-repeat="udaystrip in udaystrips">
                <h2><span class="font-italic">#{{$index + 1}}: </span>{{udaystrip.title}}</h2>
                <hr>

                <div class="row">
                  
                  <div class="col-md-7">
                    <p><span class="lead">Time: </span>{{udaystrip.time}}</p>
                    <p class="text-justify"><span class="lead">Description: </span>{{udaystrip.description}}</p>
                  </div>

                  <div class="col-md-5">
                    <img src="{{udaystrip.titleImg[0]}}" class="trip-image img-responsive center-block" alt="Generic placeholder image">
                    <a href="{{udaystrip.titleImg[0]}}" target="_blank" class="text-right">Full Picture -- {{udaystrip.titleImg[1]}}</a>
                  </div>

                </div>
                <hr>

                <div class="row" ng-repeat="row in udaystrip.rows">
                  
                  <div class="row" ng-if="$even">
                    <div class="col-md-5">
                      <div class="row" ng-repeat="image in row.coverImg">
                        <img class="trip-image img-responsive center-block" src="{{image[0]}}" alt="Generic placeholder image">
                        <a href="{{image[0]}}" target="_blank" class="text-right">Full Picture -- {{image[1]}}</a>
                        <hr>
                      </div>
                    </div> 

                    <div class="col-md-7">
                      <p class="lead">{{row.rowTitle}}</p>
                      <hr>

                      <p class="lead">Itinerary and Tourist Attractions:</p>

                      <ul>
                        <li ng-repeat="attr in row.details">
                          <div ng-if="attr.link != ''">
                            <a href="{{attr.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{attr.name}}</a>
                          </div>

                          <div ng-if="attr.link == ''">
                            {{attr.name}}
                          </div>
                        </li>
                      </ul>

                    </div>
                  </div>

                  <div class="row" ng-if="$odd">

                    <div class="col-md-7">
                      <p class="lead">{{row.rowTitle}}</p>
                      <hr>

                      <p class="lead">Itinerary and Tourist Attractions:</p>

                      <ul class="list-group">
                        <li ng-repeat="attr in row.details">
                          <div ng-if="attr.link != ''">
                            <a href="{{attr.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{attr.name}}</a>
                          </div>

                          <div ng-if="attr.link == ''">
                            {{attr.name}}
                          </div>
                        </li>
                      </ul>
                      
                    </div>

                    <div class="col-md-5">
                      <div class="row" ng-repeat="image in row.coverImg">
                        <img class="trip-image img-responsive center-block" src="{{image[0]}}" alt="Generic placeholder image">
                        <a href="{{image[0]}}" target="_blank" class="text-right">Full Picture -- {{image[1]}}</a>
                        <hr>
                      </div>
                    </div> 
                  </div>

                  <hr>
                </div>

                <br><p class="pull-right"><a href="#trip-detail-usa">Back to List</a></p>
                <br><hr class="profile_divider">
              </div>
            </div>

            <h2 class="text-info">-- The Eventful Moment</h2><hr>
            <div id="event-detail">
                <div class="row" ng-repeat="event in uevents" id="{{event.id}}">
                  <h2><span class="font-italic">#{{$index + 1}}: </span>{{event.title}}</h2>
                  <hr>

                  <div class="row">
                    <div ng-if="$even">
                      <div class="col-md-7">
                        <p><span class="lead">Time: </span>{{event.time}}</p>
                        <p class="text-justify"><span class="lead">Description: </span>{{event.description}}</p>

                        <ul>
                          <li ng-repeat="row in event.rows">
                            <div ng-if="row.link != ''">
                              <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                            </div>

                            <div ng-if="row.link == ''">{{row.name}}</div>
                          </li>
                        </ul>
                      </div>

                      <div class="col-md-5">
                        <img class="trip-image img-responsive center-block" src="{{event.coverImg[0]}}"" alt="Generic placeholder image"><a href="{{event.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{event.coverImg[1]}}</a>
                        <hr>
                      </div>  
                    </div>

                    <div ng-if="$odd">
                      <div class="col-md-5">
                        <img class="trip-image img-responsive center-block" src="{{event.coverImg[0]}}"" alt="Generic placeholder image"><a href="{{event.coverImg[0]}}" target="_blank" class="text-right">Full Picture -- {{event.coverImg[1]}}</a>
                        <hr>
                      </div>

                      <div class="col-md-7">
                        <p><span class="lead">Time: </span>{{event.time}}</p>
                        <p class="text-justify"><span class="lead">Description: </span>{{event.description}}</p>

                        <ul>
                          <li ng-repeat="row in event.rows">
                            <div ng-if="row.link != ''">
                              <a href="{{row.link}}" target="_blank" class="text-right" data-toggle="popover" data-trigger="focus" title="Image Preview">{{row.name}}</a>
                            </div>

                            <div ng-if="row.link == ''">{{row.name}}</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <br><p class="pull-right"><a href="#trip-detail-usa">Back to List</a></p>
                  <br><hr class="profile_divider">
                </div>
            </div>
            <hr class="profile_divider">

          </div>
        </div>
      </div>      
    </div>

      <!-- FOOTER -->
      <footer class="bd-footer d-flex align-items-end text-muted">
        <div class="container">
          <ul class="bd-footer-links list-inline">
            <li>
              <a href="https://github.com/wjbabc2015" target="_blank">GitHub</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/jiabin-wang-32b031101" target="_blank">Linkedin</a>
            </li>
            <li>
              <a href="http://www.fitbit.com/user/5HMHQ9" target="_blank">Fitbit</a>
            </li>
          </ul>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>Designed and built by Jiabin (Jeremy) Wang.</p>
        </div>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Content List -->
    <script src = "js/experienceList.json"></script>
    <!-- China Trip List -->
    <script src = "js/tripChina.json"></script>

    <!-- USA Trip List -->
    <script src = "js/tripUSA.json"></script>

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/myController.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDShvmWCryE9cy4DRFFBMePxeVy3Y3dJrk"></script>

    <script src = "js/chinaMarker.json"></script>
    <script src = "js/usaMarker.json"></script>
    <script src = "js/travel.js"></script>

    <script>
      $(function () {
        $('[data-toggle="popover"]').popover({
          html: true,
          trigger: 'hover',
          placement: 'bottom',
          content: function(){return '<img class="trip-image img-responsive center-block" src="'+ $(this).attr('href') + '" alt="Image is loading......" />';}
        });
      })

      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
    </script>
  </body>
</html>
